# Python==3.11 

# For Time-Series-Library
einops
local-attention
matplotlib
numpy
pandas
patool
reformer-pytorch
scikit-learn
scipy
sktime
sympy
torch
tqdm
PyWavelets

# Added for TABE
yfinance
hyperopt
statsmodels
seaborn
pyro-ppl

# pmdarima should be installed by compiling source! (due to compatibility with numpy)
setuptools==58.0.4 # Compatible with `distutils` which is needed for compiling pmdarima

# for timesfm
jax
timesfm
